.card {
    width: 22em;
    height: 35em;
    margin: 5em auto;
    border: 0.2em solid black;
    border-radius: 1.5em;
    font-family: Rambla;
    background-image: linear-gradient(to bottom,
            #ffffff80, rgb(255, 255, 255)), url('images/rainy-background.jpg');
}


td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#menu-icon {
    float: left;
    width: 10%;
    margin-left: 4%;
    margin-top: 2%;

}

.sun-image {
    width: 40%;
}

#main-image {
    width: 50%;
    padding-bottom: 5%;
}

b {
    font-size: 0.5em;
}

p {
    margin-left: auto;
    margin-right: auto;
}


td {
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    padding: 1px;
}

.days-of-week {
    text-align: left;
    padding-left: 5%;
}

#main-temp {
    font-size: 2.5em;
    padding: 0%;
    margin: 0%;
}

#degree {
    float: right;
}

.widget-text {
    font-size: 2em;
    padding: 0%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}

.hilocontainer {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    width: 95%;
    border-radius: 5em;
}

.hilo {

    height: 15px;
    background-color: #add9f8;
    border-radius: 5px;
    vertical-align: middle;
}

.bar-temp {
    font-size: 0.3em;
    padding: 0;
    margin: 0;
    top: 20%;
    position: relative;
}

.lo-temp {
    float: left;
    margin-left: 10%;
}

.hi-temp {
    float: right;
    margin-right: 10%;
}

.navbar {
    margin-top: 5%;
    border: 1px solid #595959;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #595959;
    width: 30%;
    height: 1%;
    border-radius: 5em;
}